<h1>Count occurences of a sub-string</h1>
<div class="flex flex-col gap-m">
<form class="flex flex-col gap-m" hx-post="/count-occurences/count" hx-swap="afterend" hx-target="#results">
  <label for"inputString">Input string:</label>
  <textarea
    id="inputString"
    name="inputString"
    type="text"
    placeholder="Your string to search in..."
    autofocus
    hx-post="/count-occurences/count"
    hx-trigger="keydown[metaKey&&key=='Enter'] from:body"
    hx-sync="closest form:abort"
    ></textarea>
  <label for"searchString">Search string:</label>
  <input
    id="searchString"
    name="searchString"
    type="text"
    placeholder="Your string to search for..."
    hx-post="/count-occurences/count"
    hx-trigger="keydown[metaKey&&key=='Enter'] from:body"
    hx-sync="closest form:abort"
    />
  <button>Count (Cmd + Enter)</button>
</form>
<table>
  <tr id="results">
    <th>Input</th>
    <th>Search</th>
    <th>Count</th>
  </tr>
</table>
</div>
