<!DOCTYPE html>
<html>
  <head>
    <title>MD5 Encode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css">
  <style>
body {
  margin: auto;
  max-width: 60rem;
  padding: 0 1rem;
}
textarea {
  height: 15rem;
}
button {
  padding: 0.5rem 1rem;
}
.result {
  padding: 0.5rem;
}
.result:first-child {
  border: 2px solid orange;
}
table {
  width: 100%;
    border-collapse: collapse;
}
td,th {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.gap-m {
  gap: 1rem;
}
  </style>
  </head>

  <body>
    <h1>Hash a string using MD5</h1>
    <div class="flex flex-col gap-m">
    <form class="flex flex-col gap-m" hx-post="/md5/encode" hx-swap="afterbegin" hx-target="#results">
      <label for"inputString">Input string:</label>
      <textarea
        id="inputString"
        name="inputString"
        type="text"
        placeholder="Your string to encode..."
        autofocus
        hx-post="/md5/encode"
        hx-trigger="keyup changed delay:1s, keydown[metaKey&&key=='Enter'] from:body"
        hx-sync="closest form:abort"
        ></textarea>
      <button>Compute (Cmd + Enter)</button>
    </form>
    <table>
      <tr>
        <th>Input</th>
        <th>MD5 Hash</th>
      </tr>
      <tbody id="results">
      </tbody>
    </table>
    </div>
  </body>
</html>
